<h3>Your Transactions</h3>
    <% current_user.purchases.each do |purchase| %>
      <p><%= purchase.total %> </p>
    <% end %>
    <% current_user.sales.each do |sale| %>
      <p><%= sale.total %> </p>
    <% end %>
